.carousel-wrapper .carousel-indicators [data-bs-target] {
    width: 100px!important;
    margin: 0%;
    display: none;
    
  }
  

.banners  .carousel-indicators [data-bs-target] {
    height: 10px!important;
    width: 70px !important;
    background-color: #d99d2b !important;
  } 
  .carousel-wrapper .caption {
    display: none;
  }
  .carousel-indicators {
    margin: 0% !important;
      width: 100%!important;
      justify-content: center;
      position: absolute;
      top: -10px;
     
      display: flex;
    }
    .carousel-wrapper:hover [data-bs-target] {
        width: 100%;
        margin: 0%;
          display: inline-flex;
      }
      
      

      @media (max-width: 478px) {
        .home-Carousel{
          height: 450px;
          width: 400px;
           justify-content:center 
           ;border-radius:50px
           ;margin:'auto'
        }
        .home-Carousel-item{
      height: 450px;
       width: 400px;
       border-radius:50px 

        }
        .home-Carousel-img{
         height: 450px;
          width: 400px;
          border-radius:50px

        }
      }
      
       
        @media (min-width: 480px)  {
          .home-Carousel{
            height: 450px;
            width: 1200px;
             justify-content:center 
             ;border-radius:50px
             ;margin:'auto'
          }
          .home-Carousel-item{
        height: 450px;
         width: 1200px;
         border-radius:50px 
  
          }
          .home-Carousel-img{
           height: 450px;
            width: 1200px;
            border-radius:50px
  
          }
        }
        